@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #1b0414;
    --background: #ffffff;
    --primary: #F49595;
    --red: #e86882;
    --secondary: #FFD8D7;
    --accent: #674990;
    --black: #343434;
  }
}

body {
    background: var(--text);
    overflow-x: hidden;
}

button {
    padding: 15px;
    border-radius: 1.5rem;
    margin: 5px;
}

.text-gradient {
    background-clip: text;
    background: linear-gradient(120deg, var(--red), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div-component {
    padding: 10px 30px;
    margin: 2px 6px;
    border-radius: 1.5rem;
}

.button-pink {
    background: var(--secondary);
}

.button-pink:hover {
    background: var(--primary);
    color: var(--background);
    box-shadow: 0 3px 3px 1px var(--secondary);
}

.button-black {
    color: var(--primary);
}

.button-primary {
    background: var(--background);
    color: var(--primary);
}

.button-primary:hover {
    background: var(--secondary);
    color: var(--background);
}

.button-black:hover {
    background: var(--primary);
    color: var(--background);
    box-shadow: 0 3px 3px 1px var(--secondary);
}

.button-gradient {
    background-image: linear-gradient(to right, var(--primary), var(--accent));
    color: var(--background);
}

.button-gradient:hover {
    background: var(--primary);
}

.button-circle {
    color: var(--secondary);
    background-color: var(--text);
    border-radius: 100%;
    padding: 0.75rem 1.25rem; 
}

.button-circle:hover {
    background-color: var(--red);
    color: var(--background);
}

body::-webkit-scrollbar {
  width: 3px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

@keyframes rotate {
    50% {
        scale: 1 1.5;
    }
}

#blob {
    animation: rotate 20s infinite;
}
